.title
  margin-top 2u

.buttons
  margin-top 4u

.results
  margin-top 3u

.cell
  min-width 15u
  font-size 3u
  line-height 4u

.smallCell
  min-width 5u
  font-size 3u
  line-height 4u
  text-align center

.pagination
  margin-top 3u
